SEARCH_ENGINE_CONFIG_PATH=config/configs/config.yaml

SEARCH_ENGINE_GRPC_PORT=9090
SEARCH_ENGINE_HTTP_PORT=8080

SEARCH_ENGINE_POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/search_engine?sslmode=disable

SEARCH_ENGINE_REDIS_ADDR=redis:6379
SEARCH_ENGINE_REDIS_PASSWORD=

SEARCH_ENGINE_ELASTICSEARCH_ADDRESSES=http://elasticsearch:9200
SEARCH_ENGINE_ELASTICSEARCH_USERNAME=
SEARCH_ENGINE_ELASTICSEARCH_PASSWORD=

SEARCH_ENGINE_LOG_LEVEL=info
